torch==2.6.0 --extra-index-url https://download.pytorch.org/whl/cu124
torchvision==0.21.0 --extra-index-url https://download.pytorch.org/whl/cu124
xformers==0.0.29.post3 --extra-index-url https://download.pytorch.org/whl/cu124
bitsandbytes==0.45.2
tensorboard==2.18.0
tensorflow==2.18.0
wheel
tensorrt --extra-index-url https://pypi.nvidia.com --use-pep517
onnxruntime-gpu==1.17.1
-r requirements.txt
